* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  font-size: 22px;
  border-bottom: 1px solid #1c3c4d;
}
header .nav {
  background-color: #0a232a;
}
header .nav .nav-link {
  color: white;
}

.info {
  background-color: white;
  font-size: 18px;
}
.info .row {
  margin: 0;
}
.info .row .left__menu {
  padding-right: 0;
  min-height: 100vh;
  background-color: #2a4759;
  max-width: 20%;
}
.info .row .left__menu .nav-pills .nav-link.active,
.info .row .left__menu .nav-pills .show > .nav-link {
  background-color: #0a232a;
}
.info .row .left__menu .nav-link {
  color: white;
}
.info .row .left__menu div a {
  border-bottom: 1px solid #1c3c4d;
  padding: 15px;
  border-radius: 0;
}
.info .row .left__menu div a:hover {
  color: white;
}
.info .row .info__list .tab-content .tab-pane .add-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info .row .info__list .tab-content .tab-pane .add-search .btn {
  height: 40px;
  width: 40px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #1c3c4d;
  color: white;
}
.info .row .info__list .tab-content .tab-pane .add-search .btn i {
  font-size: 20px;
}
.info .row .info__list .tab-content .tab-pane .add-search .input-group {
  margin-left: 10px;
  width: 25%;
}
.info .row .info__list .tab-content .tab-pane .add-search .input-group input {
  padding: 20px;
}
.info .row .info__list .tab-content .tab-pane .modal .modal-content {
  border-radius: 0;
}
.info .row .info__list .tab-content .tab-pane .modal .modal-content .modal-header {
  background-color: #0a232a;
  border-radius: 0;
  color: white;
}
.info .row .info__list .tab-content .tab-pane .modal .modal-content .modal-body .error {
  color: red;
}
.info .row .info__list .tab-content .tab-pane .modal .modal-content .modal-footer {
  border-radius: 0;
}
.info .row .info__list .tab-content .tab-pane .modal .modal-content .modal-footer button {
  color: white;
  background-color: #0a232a;
  padding: 10px;
}
.info .row .info__list .tab-content table {
  min-width: 950px;
  border-collapse: collapse;
  border: 1px solid rgb(149, 149, 149);
}
.info .row .info__list .tab-content table thead tr th {
  border: 1px solid rgb(149, 149, 149);
  background-color: rgb(224, 224, 224);
  text-align: center;
  padding: 15px;
}
.info .row .info__list .tab-content table tbody tr {
  border-top: 2px solid rgb(149, 149, 149);
}
.info .row .info__list .tab-content table tbody tr td {
  text-align: center;
}
.info .row .info__list .tab-content table tbody tr td img {
  height: 150px;
  width: 150px;
  margin: 10px 0;
}
.info .row .info__list .tab-content table tbody tr td button {
  background-color: #0a232a;
  color: white;
}
.info .row .info__list .tab-content table tbody td {
  border: 1px solid rgb(149, 149, 149);
}

:root {
  --main-color: #ecf0f1;
  --point-color: #555;
  --size: 5px;
}

.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}
.loader .loader__element {
  border-radius: 100%;
  border: var(--size) solid #0a232a;
  margin: calc(var(--size) * 2);
}
.loader .loader__element:nth-child(1) {
  -webkit-animation: preloader 0.6s ease-in-out alternate infinite;
          animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader .loader__element:nth-child(2) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
.loader .loader__element:nth-child(3) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}
@-webkit-keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}/*# sourceMappingURL=index.css.map */